
<div class="modal-header">
    <h3 class="modal-title">编辑用户</h3>
</div>
<div class="modal-body">

	<form name="userForm" class="form-horizontal">
		<div class="form-group">
			<label for="username" class="col-sm-2 control-label">用户名</label>
			<div class="col-sm-10">
				<input type="text"
					class="form-control"
					ng-pattern="/^[a-zA-Z0-9]+$/"
					ng-model="user.name" ng-disabled="options.mode=='edit'" />
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="col-sm-2 control-label">初始密码</label>
			<div class="col-sm-10">
				<input type="text"
					class="form-control"
					ng-required="options.mode=='add'"
					ng-model="user.password" />
			</div>
		</div>
		<div class="form-group">
			<label for="role" class="col-sm-2 control-label">角色</label>
			<div class="col-sm-10">

				<div class="btn-group" dropdown is-open="roleListOpen">
					<button type="button" class="btn btn-default dropdown-toggle">
						{{user.role}} <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" ng-click="roleListOpen=!roleListOpen">
						<li><a href ng-click="user.role='admin'">Admin</a></li>
						<li><a href ng-click="user.role='manager'">Manager</a></li>
						<li><a href ng-click="user.role='tester'">Tester</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="tags" class="col-sm-2 control-label">权限标签</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" ng-modal="user.tags" />
			</div>
		</div>

		<div class="form-group text-center">
			<button class="btn btn-primary" ng-click="$close(user)" ng-disabled="userForm.$invalid">保存</button>
			<button class="btn btn-default" ng-click="$dismiss()">放弃</button>
		</div>
	</form>
</div>
