<div class="col-lg-12">
    <h1>编辑脚本
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/scripts"><i class="icon-dashboard"></i> 脚本管理</a>
        </li>
        <li class="active"><i class="icon-file-alt"></i> 编辑脚本</li>
    </ol>
</div>

<div class="col-lg-12">

    <div class="col-lg-12 well">
        <a class="btn btn-default" href="/scripts">返回</a>
        <button class="btn btn-primary pull-right" ng-click="save()"
            ng-disabled="status.save == 'saving'">Save</button>
    </div>

    <div class="col-lg-12">
        <form role='form' class="form-horizontal">
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label text-right">脚本名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="script.title" placeholder="Script title">
                </div>
            </div>
            <div class="form-group">
                <label for="tags" class="col-sm-2 control-label text-right">权限标签</label>
                <div class="col-sm-10">
                    <tags-input ng-model="script.tags">
                        <!-- <auto-complete source="loadScriptTags($query)"></auto-complete> -->
                    </tags-input>

                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label text-right">备注说明</label>
                <div class="col-sm-10">
                    <textarea name="description" ng-model="script.description" class="form-control" rows="5"></textarea>

                </div>
            </div>
            <div class="form-group">
                <label for="codes" class="col-sm-2 control-label text-right">脚本代码</label>
                <div class="col-sm-10">
                    <textarea name="codes" ng-model="script.codes" class="form-control" cols="30" rows="20"></textarea>
                </div>
            </div>
        </form>
    </div>

</div>
